* {
  font-family: sans-serif;
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}
.main_section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(145, 240, 208);
}
.main_box {
  overflow: hidden;
  height: 80%;
  width: 80%;
  background-color: white;
  border-radius: 20px;
}
.box_top {
  padding: 0px 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  background-color: rgb(19, 93, 68);
}
.elem {
  display: flex;
  align-items: center;
  justify-content: center;
}
.elem h2 {
  font-size: 1.2rem;
  font-weight: 600;
}
.box {
  color: black;
  background-color: white;
  font-size: 1.1rem;
  padding: 5px;
  margin-left: 10px;
  border-radius: 4px;
  height: 30px;
  min-width: 30px;
  text-align: center;
}
.box_bottom {
  color: #fff;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: calc(100% - 100px);
  width: 100%;
  background-color: black;
}
.bubble {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
